.footer{
    background-color: black;
    background-size: 100% 100%;
    margin-top: 3%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.8rem;
    font-size: 2.8rem;
}
.item{
    margin-left: 5%;
    padding: 0.5%;
    text-decoration: none;
    color: white;
}
.item:hover{
    text-decoration: underline;
}