.paymentInfo {
    margin: 0 1% 0 1%;
    padding: 0 1% 0 1%;
    min-width: 30rem;
    font-size: 1.9rem;
}
.title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.title>h4{
    align-self: center;
    place-self: center;
}
.item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.describe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*background-color: gainsboro;*/
}
.count {
    overflow: hidden;
    margin: 0 16px 0 -20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.describe,
.count,
.operation,
.price{
    align-self: center;
    place-self: center;
}
.allInfo{
    display: flex;
    flex-direction: column;

}
.oneline, onelineCar{
    display: flex;
    flex-direction: row;
}
.inputArea, address{
    position: relative;
    margin-bottom: 45px;
    margin-top: 20px;
    margin-right: 10px;
}
.infoItem {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
.infoItem:focus{
    outline:none;
}
.labelTag{
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.infoItem:focus ~ .labelTag, .infoItem:valid ~ .labelTag {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

.infoItem:focus ~ .bar:before, .infoItem:focus ~ .bar:after {
    width:50%;
}
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
.infoItem:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

.allOptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.oneline, .checkboxOption, .onelineCar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2%;
}
.oneline>h4, .onelineCar>h4 {
    padding-right: 4%;
}
.colorDisplay {
    margin-right: 4%;
}
.oneline>img, .onelineCar>img{
    width: 8rem;
}
.optionTitle{
    width: 20rem;
}
.line{
    border-top: 1px dashed #8c8b8b;
    width: 100%;
}
.itemName{
    margin-top: 6%;
}
.buttonToNext{
    margin-bottom: 1%;
}
.valueDisplay{
    color: #666666;
}

@media (max-width: 25rem) {
    .onelineCar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 40rem) {
    .title{
        display: none;
    }
    .item{
        display: flex;
        flex-direction: column;
    }
    .allOptions{
        grid-template-columns: 1fr;
    }

}
@media (max-width: 55rem) {

    .oneline{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}