.summaryPage{
    margin: 0 1% 0 1%;
    padding: 0 1% 0 1%;
    min-width: 30rem;
}
.oneline{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.optionTitle{
    width: 20rem;
    margin-right: 2%;
}
.informationHeader{
    margin-top: 2%;
}
.displayCarInforAndOptions{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.displayOptions {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    padding: 2%;
}
.selectedOption{
    margin-right: 5%;
    padding: 2%;
    border: gainsboro dashed 1px;
    width: 40%;
    height: fit-content;;
}
.carInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: right;
}
.carImage{
    width: 100%;
}
.describe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.userInfo{
    border: gainsboro dashed 1px;

}
.onelineUserInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}
.userTitle, .userTitleLong {
    width: 12rem;
    font-weight: bold;
    margin-right: 1%;
}
.userTitleLong {
    width: 18rem;
}
.valueInfo{
    margin-left: 13rem;
}
.sigleItem {
    margin-right: 1%;
}
.fieldSet {
    border: none;
}
.button{
    font-size: 1.8rem;
    padding: 1.5rem 1.5rem;
    border-radius: 1rem;
}
.button:hover{
    background-color: gray;
    color: #ededed;
}
.line{
    border-top: 1px solid #8c8b8b;
    width: 100%;
}
@media (max-width: 40rem) {
  .displayCarInforAndOptions{
    display: flex;
    flex-direction: column;
  }
  .selectedOption{
    width: 90%;
  }
}

@media print {
     .button {
        display: none;
    }
    @page {
        margin: 10px;
    }
    h2 {
        break-before: page;
    }

}
