@media(min-width:300px){
.container{
  width: 100%;
  height:100%;
  display:grid;
  grid-template-columns: 100%;
}
}

@media(min-width:900px){
.container{
  width: 100%;
  height:100%;
  display:grid;
  grid-template-columns: 50% 50%;
}
}

.contact_text{
  text-align: left;
  float: inherit;
  position: relative;
  font-size: 2rem;
  background-color:hsl(0, 0%, 90%, 0.5);
  padding-top: 5%;
  padding-left: 5%;
  z-index: 1;
  display:inline-block;
  width: 80%;
  height: 75%;
  margin-top:10%;
  margin-left: 5%;
}

.contact_text img{
  width: 40px;
  height: 30px;
}

.contact_background{
  background-image: url('/assets/img/contact/background.jpg');
  background-size: 100% 100%;
  background-repeat: repeat-y;
  position: absolute;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  filter:blur(3px);
  z-index: -1;
  vertical-align: bottom;
}

.contact_text img{
  width: 40px;
  height: 30px;
}

.contact_messagebox{
  width: 80%;
  height: 75%;
  background-color:hsl(0, 0%, 90%, 0.5);
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 2%;
  font-style: bold;
  padding-top: 5%;
}


.contact_messagebox h2{
  padding-left: 10%;
  padding-right: 10%;
}


.contact_messagebox form{
  padding-left:10%;
  vertical-align: middle;
  font-size: 2rem;
}

.contact_messagebox button{
  margin-left: 50%;
  margin-bottom: 10%;
  margin-top: 3%;
}

.contact_messagebox input{
  width:90%;
  height: auto;
  font-size: 1.5rem;
}

.contact_messagebox textarea{
  width:90%;
  font-size: 1.5rem;
  padding-top: 1%;
}
