.ViewedProducts {
    display: inline;
    flex-direction: row;
    left: 30px;
}

.ViewedImage {
    margin-left:5%;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    width: 24rem;
}
/*.displayUl{*/
    /*width: 80%;*/
/*}*/
.ViewedImage:hover {
    border: none;
    opacity: 0.7;
}
.ViewedImage:hover ul {
    height: 50%;
}
.ViewedImage ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    bottom: 10%;
    _bottom: 0px;
    overflow: hidden;
    height: 0;
    /*width: 100%;*/
    background:	#DDDDDD;
    opacity: 0.8;
    text-align: center;
}
.ViewedImage li {
    font-size: 16px;
    margin-top: 3%;
    color: black;
    margin-left: -22px;
}
.ViewedImage .price {
    text-align: center;
}
.ViewedImage .description {
    text-align: left;
}
