#HomeImage {
    align: center;
    height: 500px;
    width: 100%;
    margin-bottom: 0px;
   
}
.Home{
   
    display: inline-block;
    margin: 0;
    margin-left: 2%;
}

.WelcomePage {
    position: relative;
    display: inline;
}
.Welcome {
    color:white;
    font-family: fantasy;   
    font-size: 50px; 
    position: absolute;
    bottom: 360px;
    left: 250px;
    margin-top: 0;
}
.MovingCar {
    display: inline-block;
    height: 10rem;
    width: 30%;
    padding-left: 1rem;
    margin: 0;
    
}
.Title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ViewedProducts {
    margin-left: 2%;
}