.grid_style {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 5%;
    margin-left: 5%;
}
img {
    width: 100%;
    height: auto;
}
@media  (min-width: 300px) {
    .grid_style {
        display: inline-grid;
        grid-template-columns: 100%;
    }
}

@media (min-width: 650px) {
    .grid_style {
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 1050px) {
    .grid_style {
        display: inline-grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 1500px) {
    .grid_style {
        display: inline-grid;
        grid-template-columns: 25% 25% 25% 25% ;
    }
}
