.list {
    margin-left:10%;
    display: inline;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    margin-left: 10%;
}
.list :hover {
    text-decoration: underline;
}

.soldOut {
    color: red;
    float: left;
}
.AllProducts {
    margin-left:10%;
    margin-bottom: 0;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    position: relative;
}
.AllProducts:hover {
    border: none;
    opacity: 0.7;
}
.AllProducts:hover ul {
    height: 50%;
    
}
.AllProducts ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    bottom: 10%;
    _bottom: 0px;
    overflow: hidden;
    height: 0;
    width: 25rem; 
    background:	#DDDDDD;
    opacity: 0.8;
    text-align: center;
}
.AllProducts li {
    font-size: 16px;
    margin-top: 2%;
    color: rgb(0, 0, 0);
}
