.footer{
    background-color: black;
    background-size: 100% 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 2.8rem;
}
.copyRight {
    color: white;
    padding: 0.5%;
    margin-left: 5%;
    font-size: 20px;
    margin-bottom: 2%;
  
}

.list {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding-left: 63%;
}
.item {
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.item:hover{
    text-decoration: underline;
}
@media print {
    .footer{
        display: none;
    }
}