.header{
    background-image: url('/assets/img/background/banner.jpg');
    background-size: 100% 100%;
    height: 28rem;
    min-width: 30rem;
}

.headerNavigate{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.8rem;
    font-size: 2.8rem;
    height: 26rem;
}

.item{
    margin-left: 3%;
    padding: 0.5%;
    text-decoration: none;
    color: #dcdcdc;
}
.item:hover{
    text-decoration: underline;
}

.dealerName{
    position: absolute;
    color: #fff;
    padding: 3% 0 5% 3%;
    font-size: 5rem;
}

@media (max-width: 40rem) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 30rem;
        flex-wrap: wrap-reverse;
        font-size: 2rem;
        background-size: 100% 100%;
    }
}
@media print {
     .header{
        display: none;
    }
}