.grid_box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
   
}

.item {
    text-decoration: none;
}
.item:hover{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
}
.grid_item {
    position: relative;
    display: inline-block;
    padding-right: 200px;
}
.sale {
    display: flex;
    position: relative;
}
